.banner {
  z-index: 2200;
}
.banner::after {
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0px;
  width: 100%;
}
.transition {
  transition-duration: 300ms;
}
.border-box {
  box-sizing: border-box;
}