main {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f7;
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "topbar"
                       "content";
}
.mask {
  left: 15rem;
  backdrop-filter: brightness(0.5);
}

#topbar {
  grid-area: topbar;
}

#sidebar {
  grid-area: sidebar;
  /* height: fit-content; */
}

.content {
  grid-area: content;
}

@media only screen and (min-width:600px) {
  main {
    grid-template-columns: 5rem 1fr;
		grid-template-areas: "topbar topbar"
                         "sidebar content";
  }
}
